<div class="container py-5">
    <div class="row justify-content-center text-center">
        <div class="col-sm-6 text-left" style="
        padding: 20px 30px;">
             <h4><strong>{{fname}}</strong> {{lname}}</h4>
             <h6>{{'CONTESTANTS.Age' | translate}} {{age}}</h6>
             <p class="text-justify" >
         {{description}}</p>
    <span class="d-flex justify-content-between w-100" >
        <a href="" class="btn btn-outline-dark">{{'CONTESTANTS.Watch' | translate}}</a>
        <a href="" class="btn btn-outline-goma">{{'CONTESTANTS.Cast-vote' | translate}}</a>
    </span>
    
    </div>

        <div class="col-sm-6 text-center">
            <img src="../../assets/img/contestants/{{image}}" alt="contestant">

        </div>


    </div>
</div>
