<nav class="navbar navbar-expand-lg navbar-goma bg-goma sticky-top">
  <a class="navbar-brand" routerLink="/">
    <img src="../../assets/logo.png" width="100" height="100" alt="">
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item " [class.active]="(activeFragment | async)==='home'">
          <a class="nav-link" routerLink="/" fragment="home" >{{'NAVIGATION.Home' | translate}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [class.active]="(activeFragment | async)==='competition'" >
          <a class="nav-link" routerLink="/" fragment="competition" >{{'NAVIGATION.Competition' | translate}}</a>
        </li>

        <li class="nav-item" [class.active]="(activeFragment | async)==='prize'">
          <a class="nav-link" routerLink="/" fragment="prize" >{{'NAVIGATION.Prize' | translate}}</a>
        </li>

         <li class="nav-item" >
          <a class="nav-link" routerLink="./contestants"  fragment="top" [routerLinkActive]="['active']">{{'NAVIGATION.Contestants' | translate}}</a>
        </li>

        <li class="nav-item" [class.active]="(activeFragment | async)==='sponsors'">
          <a class="nav-link" routerLink="/" fragment="sponsors" >{{'NAVIGATION.Sponsors' | translate}}</a>
        </li>
        
        <li class="nav-item social-icons-first">
          <a class="nav-link" href="https://www.facebook.com/Miss-Goma-2021-100164501926877/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
        </li>

        <li class="nav-item social-icons">
          <a class="nav-link" href="https://twitter.com/goma_miss" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        </li>

        <li class="nav-item social-icons">
          <a class="nav-link" href="https://www.instagram.com/missgoma2021/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        </li>
        
        <li class="nav-item social-icons">
          <a class="nav-link" href="https://www.youtube.com/channel/UCepUKBM5Gyq5pbPBroItgaw" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item translate mt-2 ml-4">
          <select #langselect (change)="translate.use(langselect.value)">
            <option *ngFor="let _lang of translate.getLangs()" [value]="_lang" [selected]="_lang[0]"> <img alt="flag"> {{_lang}}</option>
          </select>
        </li>
      </ul>
      
    </div>
  </nav>