.competition{
    height:auto;
}

.competition img{
    width:20%;
    height:20%
}

.competition h4{
    color: #f4ab02;
    font-weight: 800;
    font-size: 2.5rem;
}

.competition h6{
    font-weight: 800;
    font-size: 1.3rem;
    color: #403f3f;
}

.competition ul{
    font-size: 1rem;
    font-weight: 700;
}

.competition p{
    text-align: left !important;
    font-size: 1rem;
    font-weight: 700;
} 

.competition p strong{
    font-weight: 800;
}

.competition p strong .date{
    color:red
}

li{
    list-style: disc;
    
    text-align: left;
}

li::before{
    content: '';
   display: inline-block;
    list-style-image: url('../../assets/logo.png');
    height:10px;
    width:10px
}

.programme h4{
    font-size: 1rem;
    background: #000000d1;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}

.programme p.date{
    margin-bottom: 1px;
    font-size: 1rem;
    font-weight: 800;
}

.programme p.event{
    margin-bottom: 1px;
    font-size: 1rem;
    
}

.px-10{
    padding: 0 100px
}

a{
    color:#f4ab02;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .competition img {
        width: 40%;
        height: 20%;
    }

    .px-10{
        padding: 0 10px;
    }

    .competition h4 {
        padding-top: 30px;
    color: #fdc30d;
    font-weight: 800;
    font-size: 1.5rem;
    }

    li:before {
        content: '';
        display: inline-block;
        width: 0px;
    }
 }

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .competition img {
        width: 40%;
        height: 20%;
    }

     .px-10{
        padding: 0 0px;
    }

    .competition h4 {
        padding-top: 30px;
        color: #fdc30d;
        font-weight: 800;
        font-size: 1.5rem;
    }

    li:before {
        content: '';
        display: inline-block;
        width: 0px;
    }
 }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    .competition img {
        width: 40%;
        height: 20%;
    }

     .px-10{
        padding: 0 0px;
    }

    .competition h4 {
        padding-top: 10px;
        color: #fdc30d;
        font-weight: 800;
        font-size: 1.5rem;
    }

    li:before {
        content: '';
        display: inline-block;
        width: 0px;
    }
 }

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {  }