<div clas="container-fluid pt-3" id="competition">
    <div class="row p-5 competition text-center align-items-center"> 
        <div class="col-sm-6 justify-content-center align-items-center ">
           <img src="../../assets/logo.png" alt="" >
        </div>

        <div class="col-sm-6 justify-content-center align-items-center ">
           <h4 class="mb-3">{{'COMPETITION.Intro' | translate}} </h4>
           <h6 class="text-left">{{'COMPETITION.Intro2' | translate}}</h6>
           <ul>
               <li>
                {{'COMPETITION.Criteria1' | translate}}
               </li>
               <li>
                {{'COMPETITION.Criteria2' | translate}}
               </li>
               <li>
                {{'COMPETITION.Criteria3' | translate}}
               </li>
               <li>
                {{'COMPETITION.Criteria4' | translate}}
               </li>
           </ul>
           <p>{{'COMPETITION.Ending1' | translate}} <strong>{{'COMPETITION.Ending2' | translate}} <span class="date">{{'COMPETITION.Date' | translate}}</span></strong></p>
        </div>
    </div>
</div>
