<div clas="container-fluid pt-3" id="competition">
    <div class="row p-5 competition text-center align-items-center"> 
        <div class="col-sm-6 justify-content-center align-items-center ">
           <img src="../../assets/logo.png" alt="" >
        </div>

        <div class="col-sm-6 justify-content-center align-items-center ">
           <h4 class="mb-3">Souhaitez-vous vivre l'Aventure Miss Goma? </h4>
           <h6 class="text-left">Voici les critères minimum de sélection:</h6>
           <ul>
               <li>
                Être congolaise
               </li>
               <li>
                Être née entre le 1er Javier 2002 et 1er December 1992;
               </li>
               <li>
                Être célibataire sans enfants(ni divorcée, ni veuve, ect.);
               </li>
               <li>
                Être domicilée dans la ville de Goma
               </li>
           </ul>
           <p>Vous devez au préalable <strong>vous inscrire avant <span class="date">le 27 November 2020</span></strong></p>
        </div>
    </div>
</div>
