<div clas="container-fluid pt-3" id="competition">
    <div class="row p-5 competition text-center align-items-center"> 
        
        <div class="col-sm-12 col-md-6 col-lg-6 justify-content-center align-items-center ">
            <div class="w-100 d-block">
                <img src="../../assets/logo.png" alt=""  >
            </div>
            <div class="w-100 pt-3 px-10 programme">
             <h4 class="text-left px-1">Programme</h4>
            <div class="w-100 d-flex justify-content-between p-3 ">
                <span><p class="date"> Du17 au 30-11-2020 </p>
                    <p class="event">Inscription et Casting </p>
                </span>
                <span> <p class="date">05-12-2020</p>
                    <p class="event">Premier Prime</p>
                </span>
            </div>

            </div>
            <div class="d-block w-100 px-10">
                <p>Le manoir des Miss sera a <strong> Hotel Aux 2 paysages</strong>. Les difusions seront en direct sur <strong>Mishap TV</strong>  et <strong>Youtube </strong> <a href="https://www.youtube.com/channel/UCepUKBM5Gyq5pbPBroItgaw">Miss Goma</a></p>
            </div>
           
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 justify-content-center align-items-center ">
           <h4 class="mb-3">{{'COMPETITION.Intro1' | translate}} </h4>
           <h6 class="text-left">{{'COMPETITION.Intro2' | translate}}</h6>
           <ul>
               <li>
                {{'COMPETITION.Criteria1' | translate}}
               </li>
               <li>
                {{'COMPETITION.Criteria2' | translate}}
               </li>
               <li>
                {{'COMPETITION.Criteria3' | translate}}
               </li>
               <li>
                {{'COMPETITION.Criteria4' | translate}}
               </li>
               <li>
                {{'COMPETITION.Criteria5' | translate}}
               </li>
           </ul>
          
           <p>{{'COMPETITION.Ending1' | translate}} <strong>{{'COMPETITION.Ending2' | translate}} <span class="date">{{'COMPETITION.Date' | translate}}</span></strong></p>
        </div>
        
    </div>
</div>
