<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 sticky border-bottom">
           <div class="w-100 d-flex justify-content-between p-3">
            <h4>Manage Contestants</h4>
            <span>
                <a class="btn btn-outline-dark mr-2" routerLink="./create"><i class="m3-r fas fa-plus" aria-hidden="true">Add contestant</i></a>
                <a class="btn btn-outline-dark" routerLink="./"><i class="m3-r fas fa-bars" aria-hidden="true"></i> Contestants list </a>
            </span>
           </div>
        </div>
        <div class="col-sm-12 pt-3">
            <router-outlet></router-outlet>
    
        </div>
    </div>
    </div>
    