<div clas="container-fluid " id="prize" >
    <div id="prize" class="row prize p-5 text-center align-items-center"> 
        <div class="col-sm-6 content justify-content-center align-items-center ">
            <h4 class="d-block">Ét si <span class="miss-color">MISS GOMA</span>...
            <span class="d-block">C'ÉTAIT VOUS?</span></h4>
            <p class="d-block">OBTIENS TA COURONNE ET GAGNE TA VOITURE</p>
        </div>
        <div class="col-sm-6 image"><img src="../../assets/img/vehicle.png" alt=""></div>
    </div>
</div>
