<div clas="container-fluid " id="prize" >
    <div id="prize" class="row prize p-5 text-center align-items-center"> 
        <div class="col-sm-6 content justify-content-center align-items-center ">
            <h4 class="d-block">{{'PRIZE.Heading1' | translate}} <span class="miss-color">{{'PRIZE.Heading2' | translate}}</span>...
            <span class="d-block">{{'PRIZE.Heading3' | translate}}</span></h4>
            <p class="d-block">{{'PRIZE.Paragraph' | translate}}</p>
        </div>
        <div class="col-sm-6 image"><img src="../../assets/img/{{'PRIZE.Image' | translate}}.png" alt=""></div>
    </div>
</div>
