<div class="container-fluid bg-info ">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center align-items-center vh-100">
      <div class="card  w-sm-50 w-md-50 w-lg-25 border">
        <div class="card-header text-center">

          <h4 class="text-dark">MISS GOMA</h4>
          <p class="text-dark">Enter your login credentials</p>
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">*</span>
            </div>
            <input type="password" class="form-control" placeholder="Password" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <button class="btn btn-outline-dark d-block w-100 m-2">Login</button>
            </div>



        </div>
      </div>
    </div>
  </div>
</div>
