<div id="home" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../assets/slider/banner.png" alt="First slide" >
      </div>
     <!-- <div class="carousel-caption d-none d-md-block">
        <span class="">
          <h5> <span class="election d-block">Election</span> <span class="miss  d-block"> Miss </span><span class="goma  d-block" >Goma</span> </h5>
          <h6 class="footer">Edition2021</h6>
        </span>
        
        <span>
       
          <span class="theme d-block">Theme</span>
          <div class="theme-text">
            <span class="theme-1 d-block">Femme de Goma,</span>
            <span class="theme-2 d-block ">Garane de la Paix</span>
            <span class="theme-3 "><span class="date">16 Janvier 2021</span> Grande Finale</span>
          </div>
         
         
           
        </span>
      </div>-->
    </div>
  </div>