.footer{
    display:flex;
    align-items: center;
    background-color:#1B2241;
    color: #ECAE1D;
    height: 250px
}

.footer-inner{
    padding: 0 150px
}

ul{
   
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
       
     
}

ul.contact-list{
  color:#fff
}

.social-icons li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }

  li a:hover {
    color: #ECAE1D;
  }