<div class="container-fluid footer">
  <div class="row w-100">
    <div class="col-sm-12 footer-inner d-flex justify-content-between">

        <span>
            <img src="../../assets/logo.png" alt="" width="120" height="120">
        </span>
           <span>
               link contacts
           </span>      

           <span>
               <span class="d-block">Social media</span>
               <span><i class="fas fa-facebook"></i></span>
               <span>Twitter</span>
               <span> Instagram</span>
               <span>Youtube</span>
           </span>
                
         
    </div>
  </div>
</div>
